apiVersion: apps/v1
kind: Deployment
metadata:
  name: musical
  namespace: outerpark
  labels:
    app: musical
spec:
  replicas: 1
  selector:
    matchLabels:
      app: musical
  template:
    metadata:
      labels:
        app: musical
    spec:
      containers:
        - name: musical
          image: outerparkskccacr.azurecr.io/musical:latest
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 10
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 10
          livenessProbe:
            httpGet:
              path: '/actuator/health'
              port: 8080
            initialDelaySeconds: 120
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 5
